<table>
    <thead>
        <tr>
            <td>Version</td>
            <td>State</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                AAA
            </td>
            <td>RTFYGUI</td>
        </tr>
    </tbody>
</table>